.center_card_deck {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}
.card_img {
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 5%;
  height: 5%;
}
#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}