<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
</head>
<body>
    
    <div class="jumbotron">
      <h1 class="display-4 text-center">TJ Carpool</h1>
      <img src="https://tjhsst.edu/~jwoglom/admin/tjlogo-large.png" class="center">
      <hr class="my-4">
      <p class="lead text-center">Hi! Welcome to TJ Carpool! </p>
      <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    </div>
    
    {{#if logged}}
        <div class="card-deck center_card_deck">
            <div class="card text-white bg-primary text-center mb-2" style="max-width: 27rem;">
              <div class="card-header"> </div>
              <div class="card-body">
                <h5 class="card-title">Request a pool</h5>
                <p class="card-text">Get a ride from someone near you!</p>
                <a class="btn btn-primary stretched-link" data-toggle="modal" data-target="#requestModal">Request</a>
              </div>
            </div>
            
            <div class="card text-white bg-success text-center mb-2" style="max-width: 27rem;">
              <div class="card-header"> </div>
              <div class="card-body">
                <h5 class="card-title">Host a pool</h5>
                <p class="card-text">Give a ride to 1 or more people near you!</p>
                <a class="btn btn-success stretched-link" data-toggle="modal" data-target="#hostModal">Host</a>
              </div>
            </div>
            
            
            <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Request a pool</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      
                    <div class="container">
                        {{!--<div class="row justify-content-md-center form-group">--}}
                        {{!--    <div class="col-md-12">--}}
                        {{!--        <form class="form-signin">--}}
                        {{!--            <div class="form-label-group">--}}
                        {{!--                <input type="text" class="form-control" id="reqName" placeholder="Name" autofocus required>--}}
                        {{!--            </div>--}}
                        {{!--        </form>--}}
                        {{!--    </div>--}}
                        {{!--</div>--}}
    
                        <div class="row justify-content-md-center form-group">
                            <div class="col-md-12">
                                <form class="form-signin">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="reqFrom" placeholder="From" autofocus required>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="row justify-content-md-center form-group">
                            <div class="col-md-12">
                                <form class="form-signin">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="reqTo" placeholder="To" autofocus required>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="row container justify-content-md-center form-group">
                            <div id="fromMap" style="width: 600px; height: 400px;"></div>
                        </div>
                        
                        <div class="row justify-content-md-center form-group">
                            <div class="col-md-12">
                                <form class="form-signin">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="reqNum" placeholder="# of people (besides you)" autofocus required>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row justify-content-md-center form-group">
                            <div class="col-md-12">
                                <form class="form-signin">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="reqTime" placeholder="Time leaving" autofocus required>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="send_req_button" type="button" class="btn btn-primary" data-dismiss="modal" onclick="sendRequest()">Go!</button>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="modal fade" id="hostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">All current pools</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                  <div class="modal-body">
                      {{!--<i class="fas fa-search" aria-hidden="true"></i>--}}
                      {{!--<input id= "obliterator" class="form-control" type="text" placeholder="Search" aria-label="Search" onkeyup="obliterate()">--}}
                      <ul id="toAppend" class="list-group">
                          
                      </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
        <div class="container text-center my-auto">
            <button type="button" class="btn btn-secondary btn-lg" onclick="toLogout()">Logout</button>
        </div>
        
    {{else}}
        <div class="container text-center my-auto">
            <img src="https://tjhsst.edu/~jwoglom/admin/tjlogo-large.png" class="card_img">
            <button type="button" class="btn btn-secondary btn-lg" onclick="toLogin()">Log in with ION!</button>
        </div>
        
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>--}}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/events.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg33JNyOu_Nnrv5V-54HNLLWfutkdHC0E&callback=initMap" type="text/javascript"></script>
</body>
</html>